.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
}

.maxWidthWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header {
  padding-bottom: 64px;
  width: 65%;
  display: none;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.controlColumn {
  width: 90%;
  display: flex;
  gap: 12px;
  overflow-x: scroll;
  position: fixed;
  bottom: 30px;
}


.characterWrapper {
  min-height: 500px;
  position: fixed;
  width: 65%;
  inset: 0;
}

@media screen and (min-width: 520px) {
  .header {
    display: block;
  }

  .characterWrapper {
    width: 40%;
    top: 10%;
    left: 60%;
    bottom: 5%;
  }

  .controlColumn {
    width: 50%;
    display: block;
    gap: revert;
    overflow: visible;
    position: static;
  }

  .maxWidthWrapper {
    display: block;
    position: relative;
  }
  
}